html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {
	clear: both;
}

.wrap{

	max-width: 960px;
	margin: 0 auto;
    line-height: 1.5;
    font-family: Arial;
}

.topmenu{
	height: 20px;
	background: #dddddd;
	padding: 3px;
}
.topmenu ul{
	float:right;
	
}
.topmenu ul li{
	float: left;
}
.topmenu ul a{
	text-decoration: none;
	line-height: 20px;
	padding-right: 10px;
}
.header {

	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 3px 3px #dddddd;

}

.header a{

	display: block;
	padding: 5px;

}
.header ul{

	float: right;
}
.header li{

	float: left;
	margin-left: 20px;
	margin-right: 10px;

}
@media (max-width: 767px){



	.header ul{
		float: none;
	}

	.header li{
		
		width: 40%;
		text-align: center;
	}
	
}
@media (max-width: 316px){

	.header li {

		width: 85%;
		/*text-align: center;*/
	}
}

.header a{

	text-decoration: none;
	color: #29b98f;
}


.content h3{

	font-size: 25px;
	font-weight: bold;
	text-align:center;
	padding: 5px;

}
.dif h3{

	padding-top: 50px;
}
.dif2 h3{

	padding-top:30px;
}

.content li{

    width: 30.3333%;
    margin-right: 0%;
    margin-left: 2%;
    margin-bottom: 1em;
    float: left;
    border: 1px solid #f6f6f6;
}

@media (max-width: 767px) {

	.content li{
		width: 70%;
		margin-left: 15%;
	}
}

.content li img{

	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;

}
.content li p{

	text-align: center;
}
